<!DOCTYPE html>
<html lang="zh-TW">
<%- include('../component/header') %>

  <body>
    <%- include('../component/navigation') %>
      <div id="main" class="checkoutPage">
        <%- contents %>
      </div>
      <%- include('../component/checkoutBar') %>
        <footer>
          <%- include('../component/footer') %>
        </footer>
  </body>

</html>