<!DOCTYPE html>
<html lang="zh-TW">
<%- include('./component/header') %>

  <body style="background: #f3f8ff;">
    <%- include('./component/checkout/navigation') %>
      <div id="main">
        <%- contents %>
      </div>
      <%- include('./component/checkoutBar') %>
        <footer>
          <%- include('./component/footer') %>
        </footer>
  </body>

</html>