<!DOCTYPE html>
<html lang="zh-TW">
<%- include('./component/header') %>

  <body>
    <%- include('./component/banner') %>
      <%- include('./component/topMenu') %>
        <%- include('./component/search') %>
          <div id="main">
            <%- contents %>
              <!-- popuphide 控制 class: popupHide -->
              <div class="fixedBg" :class="{popupHide:data_share.popuphide}">
                <%- include('./component/popup/free_open') %>
                  <%- include('./component/popup/free_ok') %>
                    <%- include('./component/popup/free_drink') %>
                      <%- include('./component/popup/drink_detail') %>
              </div>
          </div>
          <%- include('./component/checkoutBar') %>
            <footer>
              <%- include('./component/footer') %>
            </footer>
  </body>

</html>