<!DOCTYPE html>
<html lang="zh-TW">
<%- include('./component/header') %>

  <body>
    <%- include('./component/banner') %>
      <%- include('./component/topMenu') %>
        <%- include('./component/search') %>
          <div id="main">
            <%- contents %>
              <!-- popuphide 控制 class: popupHide -->
              <div class="fixedBg">
                <%- include('./component/free_drink') %>
                  <%- include('./component/drink_detail') %>
              </div>
          </div>
          <%- include('./component/checkoutBar') %>
            <footer>
              <%- include('./component/footer') %>
            </footer>
  </body>

</html>