<%- include('header') %>

  <body>
    <%- include('./component/banner') %>
      <%- include('./component/topMenu') %>
        <%- include('./component/search') %>
          <div class="main">
            <%- contents %>
          </div>
          <%- include('./component/checkoutBar') %>
  </body>
  <%- include('footer') %>